
main {
    display: grid;
    height: 98vh;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.editor {
    grid-area: 1/1/2/2;
    background: black;
    color: white;
    caret-color: yellow;
    word-wrap: break-word;
    word-break: break-all;
    
}

.parsed {
    grid-area: 1/2/2/3;
    word-wrap: break-word;
    word-break: break-all;
}

/* .editor-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
} */